certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==3.3.2
Deprecated==1.2.7
GDAL==2.4.2
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
isodate==0.6.0
pycparser==2.19
PyGithub==1.45
PyJWT==2.4.0
pyparsing==2.4.6
python-gitlab==1.15.0
PyYAML==5.4
rdflib==4.2.2
requests==2.22.0
six==1.13.0
smmap2==2.0.5
urllib3==1.26.5
wrapt==1.11.2
xmltodict==0.12.0
